<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <!-- 
        computed 和watch的区别：
            1.computed 能完成的功能，watch都可以完成
            2.watch能完成的功能，computed不一定能完成，eg: watch可以进行异步操作
        两个重要小原则：
            1.所被vue管理的函数，最好写成普通函数，这样this指向才是vm 或组件实例对象
            2.所有不被vue所管理的函数（定时器的回调函数，Ajax的回调函数，promise的回调函数等），最好写成箭头函数，这样this的指向才是vm或组件实例对象
     -->
    <div id="app">
        <input type="text" v-model="firstName"><br>
        <input type="text" v-model="lastName"><br>
        <p>{{fullName}}</p>
        <!-- <p>name: {{firstname +'-' +lastname}}</p> -->
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.14"></script>
    <script>
        Vue.config.devtools = true
        new Vue({
            el: "#app",
            data: {
                firstName: "",
                lastName: "",
                fullName: ''
            },
            // computed: {
            //     fullName() {
            //         return this.firstName + "-" + lastName
            //     }
            // },
            watch: {
                firstName(newVal) {
                    setTimeout(() => {
                        this.fullName = newVal + "-" + this.lastName
                    }, 3000)
                },
                lastName(newVal) {
                    this.fullName = this.firstName + "-" + newVal
                }
            }

        })
    </script>
</body>

</html>